:root {
  font-family: "Work Sans", "Segoe UI", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0c0c;
  color: #f5f2ee;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #0c0c0c;
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}


